
body{
	background-color: #02010a;
	font-family: 'Dancing Script', cursive;
	width: 97.5%;
	font-size: 31px;
	padding: 10px;
	margin: 15px;
	text-align: center;
	border-radius-left:10px;
	border-radius-top:10px;

}
div .contenido{
	margin: 20px;
}
head{
	color: white;
	background-color: #5b7989; 

}

h1{
	color: white;
	text-shadow:2px 2px 2px #02010a;
	background-color: #5b7989;
	text-align: left;
}

#cabecera{
	color: #ffffff;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 25px; 
}
#cabecera h1{
	color: white;
	text-shadow:2px 2px 2px #02010a;
	width: 90%;
	background-color: #5b7989;
	text-align: bottom-center;
}
#cabecera nav {
	
}

a{
	color: white;

}
a:hover{
	color: black;;
}
nav{
	text-align: right;
	margin: 2px;
	padding: 2px;
	border-radius: 2px;
	width: 100%
}
ul {
	text-align: right;
	font-size: 1em;
}
ul li {
	display: inline;
	padding: 2%;
}
ul li a {
	color: #ffffff;
}


/* aqui empesari el CSS de el contenido y los seccion*/ 

#contenido2{
	background-color: #d5c75f;
	margin: 0 auto;
 	width: 100%;
 	display: flex;
 	flex-direction: row;
	flex-flow: row wrap;
	margin: 50px;
	

}
.contenedor{
	background-color: #d5c75f;
	margin: 0 auto;
 	width: 100%;
 	display: flex;
 	flex-direction: column;
	flex-flow: row wrap;
	margin: 50px;
	
}
img{
	width: 300px;
	margin: 10px;
	border: solid;
	border-color: black;
}
img:hover{
	border-color: red;
	float: center
	 
}


#transformado:hover {
  transform: rotate(10deg);
  border-shadow: #82c3a6;
  border: 2px;
}
#transformado2:hover {
  transform: translate(5px,20px);
}


#contenido{

	display: flex;
	flex-direction: column;
	background-color: #82c3a6;
	width: 100%;
}

#contenedor {
	border: solid;
	border: 2px;
	background-color: #d5c75f;
	display: flex;
	flex-flow: row wrap;
	height: 300px;
	padding-top: 50px;


}
#contenedor #imagen2{
	padding-left: 10px;
}
#contenedor #imagen3{
	padding-left: 200px;
}
#contenedor a:hover{
	color: black;
}
footer {
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-flow: row wrap;
	font-size: 35px;
	padding-left: 175px;
}
.footerbox img{
		width: 30px;
		height: 30px;
}
.footerbox span{
	font-size: 10px;
	margin-right: 20px;
}



/* query */
@media (max-width: 900px) {
.contenido {
	width: 100%;
}
header {
	min-height: 200px;
}
header h1 {
	width: 100%;
	text-align: center;
}
#navprincipal {
	width: 100%;
}
ul {
	text-align: center;
}
footer {
	width: 67.4%;
	min-height: 50px;
	padding-left: 165.8px;
}
.footerbox {
	width: 300px;
	display: flex;
	flex-flow: row wrap;
}

div .footerbox{
	padding: 20px;
	margin: 20px;
	border: 2px;
}
#imginferior{
	width: 114.7%;
}
#imgcentral{
	width: 114.7%;
}
#cabecera{
	width: 111%;
}

@media (min-width: 900px) {
.contenido {
	width: 900px;
}
header {
	width: 900px;
	min-height: 80px;
}
footer {
	width: 79.1%;
	min-height: 50px;
}
.footerbox {
	width: 20%;
	height: auto;
	padding: 1%2.5% 1% 2.5%;
	display: flex;
	flex-flow: row wrap;
}
	
}

div .footerbox{
	padding: 20px;
	margin: 20px;
	border: 2px;
}
#imginferior{
	width: 1114.6%%;
}
#imgcentral{
	width: 114.6%%;
}
#cabecera{
	width: 104.9%;
}
#contenedor #imagen3{
		padding-left: 0px;
}
@media(min-width: 600px){
.contenido {
	width: 100%;
}
header {
	min-height: 200px;
}
header h1 {
	width: 100%;
	text-align: center;
}
#navprincipal {
	width: 100%;
}
ul {
	text-align: center;
}
footer {
	width: 88.3%;
	min-height: 50px;
	padding-left: 165.8px;
}
.footerbox {
	width: 300px;
	display: flex;
	flex-flow: row wrap;
}

div .footerbox{
	padding: 20px;
	margin: 20px;
	border: 2px;
}
#imginferior{
	width: 116.5%;
}
#imgcentral{
	width: 116.5%;
}
#cabecera{
	width: 111%;
}
.footerbox img{
	width: 35%;
}



/* Haz un solo media query con un valor menor a 900px, como te dije de 600px estaría bien
Y ahí metes todos los elementos de la página, osea los contenedores*/ 


